* {
	line-height: 0;
}

body {
	font-family: Sono, Verdana sans-serif;
	background-color: azure;
}

.wrapper {
	max-width: 60rem;
	margin: 0 auto;
	padding: 1.2rem;
}

h1 {
	font-size: 1.5rem;
}

input {
	appearance: none;
	position: absolute;
}

.accordion__label {
	display: flex;
	flex-direction: column;
	border-top: 2px solid #989898;
	cursor: pointer;
	position: relative;
}

.label__header {
	display: flex;
	justify-content: space-between;
}

.label__title {
	padding: 1.0rem 0;
	font-size: 1.0rem;
	font-weight: 700;
	color: rgb(10, 57, 227);
}

.label__icon {
	display: none;
}

.hidden {
	display: none;
}

.label__content {
	overflow: hidden;
}


.label__image {
	display: flex;
	justify-content: center;
	margin-bottom: 0.5rem;
}

input:checked~.accordion__label .label__title {
	color: #000;
}

input:checked~.accordion__label .label__content {
	display: block;
}

.label__image-meme {
	max-width: 100%;
	max-height: 30rem;
}

@media screen and (min-width: 820px) {
	h1 {
		font-size: 2.5rem;
	}

	.label__title {
		font-size: 2.0rem;
		padding: 1.5rem 0;
		margin-bottom: 2.0rem;
	}

	.label__image {
		margin-bottom: 1.5rem;
	}

	.accordion__label:hover .label__content {
		display: block;
	}

	.accordion:hover .label__title {
		color: #000;
	}

	.accordion:hover .label__icon {
		display: block;
	}
}

@media screen and (min-width: 1920px) {
	h1 {
		font-size: 3.0rem;
	}

	.label__title {
		font-size: 2.5rem;
		padding: 2.0rem 0;
		margin-bottom: 2.5rem;
	}

	.label__image {
		margin-bottom: 2.5rem;
	}
}